

.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

@media (max-width: 1024px) {
    .right {
        width: 100%;
    }
}

@media (max-width: 900px) {

    .right {
        width: 100%;
        padding-left: 0;
        margin-top: 20px;
        align-items: center;
    }
}

@media (max-width: 600px) {

    .right {
        gap: 15px;
    }
}